@font-face{
	font-family: 'Reformat Grotesk';
	src: url('fonts/ReformatGrotesk-Regular.woff2') format('woff2'),
	   url('fonts/ReformatGrotesk-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@import 'css/normalize-min.scss';

// Font stacks
$font: Reformat Grotesk, Arial, sans-serif;

// Main colors
$black: #000000;
$white: #ffffff;
$gray: #757575;

$background: $black; 
$text: $white;

// Global measurements
$padding-main: 1em;
$line-height: 1.25em;

// Responsive widths and mixin
$width-s: 25em;
$width-sm: 48em;
$width-md: 64em;
$width-lg: 75em;
$width-xl: 90em;
 
@mixin r($width){

	@if $width == s{
		@media only screen and (min-width: $width-s) { @content; }
	}

	@else if $width == sm{
		@media only screen and (min-width: $width-sm) { @content; }
	}

	@else if $width == md{
		@media only screen and (min-width: $width-md) { @content; }
	}

	@else if $width == lg{
		@media only screen and (min-width: $width-lg) { @content; }
	}

	@else if $width == xl{
		@media only screen and (min-width: $width-xl) { @content; }
	}
}

@mixin bullet{
	background: $white;
	border-radius: 8px;
	content: "";
	height: 8px;
	margin-top: 7px;
	width: 8px;
}

// Global styles
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{}

body{
	background: $background;
	color: $text;
	font: 400 1em/1.25 $font;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.005em;
	margin: 0;
	text-rendering: optimizeLegibility;
	transition: background 0.5s ease-in-out;

	@include r(sm){
		font-size: 2vw;
	}

	@include r(md){}

	@include r(lg){}

	@include r(xl){}
}

	a{
		color: $white;
		text-decoration: none;

		&:active, &:focus, &:hover{
			color: $gray;
			font-feature-settings: "ss02" 1;
		}
	}
		
	figure{
		margin: 0;
		padding: 0;
	}

		figcaption{}

	h1, h2, h3, h4, h5, h6{
		display: inline;
		font: inherit;
		line-height: inherit;
		margin: 0;
	}

	hr{
		border: none;
			border-bottom: 1px solid #333;
	}

	img{
		height: auto;
		max-width: 100%;
	}

	p{
		margin: 0;
		text-indent: 2em;
	}

	section{}

	ul, li{
		margin: 0;
		padding: 0;
	}

	::selection{
		background: #bbb;
		color: inherit;
	}

.site{
	display: flex;
		// align-items: center;
	min-height: 100vh;
	padding: 1rem;
}

	.content{}

		.name{
			display: inline;
		}

		.description{
			display: inline;
		}

			.title{
				cursor: help;
			}